
.media-manager{
    background-color: #666666;
    min-height: 380px;
    width: 100%;
}

.media-manager>div{
    float: left;
}

.media-manager .thumb{
    border: #ccc 1px solid;
    border-radius: 6px;
    float: left;
    width: 380px;
    height: 180px;
  }