
.media-manager{
    background-color: #666666;
    min-height: 380px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.media-manager .controls{
    background: blue;
    text-align: center;
}

.media-manager .media{
    background: red;
}


